.bar-links {
    list-style: none;

}

.bar-link-item {
    width: 90%;
    margin-top: 0.5rem;

}

.bar-link {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 0.7rem;
    padding: 12px 16px;
    border-radius: 14px;
    text-decoration: none;
    color: inherit;
    background-color: transparent;
    transition: background-color 0.2s ease;
}

.bar-link:hover {
    background-color: rgb(35 57 66);
}

.bar-link-icon {
    display: block;
    flex-shrink: 0;
}

.bar-link-text {
    line-height: 1;
    font-weight: 800;
    letter-spacing: 1px;
}

.bar-link.active {
    background-color: rgb(35 57 66);
    border: 1px solid #49c0f8;
    color: #49c0f8;
}