@import url('https://googleapis.com');


.navbar-main{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40rem;
    margin-top: 1rem;

}

.navbar-title-icon{
    display: flex;
    align-items: center;
}

.navbar-language{
    font-size: 1rem;
    color: #afafaf;
    font-weight: 800;
}


.navbar-logo{
    font-size: 1.7rem;
    font-weight: 600;
    letter-spacing: -0.02em;
    color: #2dab69;
    margin-left: 0.5rem;
}

a{
    text-decoration: none;
}

.navbar-links{
    display: flex;
    gap: 1.4rem;
    font-size: 1.3rem;
    font-weight: bold;
    text-decoration: none;
    margin-right: 1.5rem;
}

.navbar-links a{
    color: #49c0f8;
}

